[submodule "site-lisp/solarized-emacs"]
	path = site-lisp/solarized-emacs
	url = https://github.com/shuo-tan/solarized-emacs.git
[submodule "site-lisp/bookmark-plus"]
	path = site-lisp/bookmark-plus
	url = https://github.com/shuo-tan/bookmark-plus.git
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/shuo-tan/Emacs-wgrep.git
[submodule "site-lisp/ox-rst"]
	path = site-lisp/ox-rst
	url = https://github.com/shuo-tan/ox-rst.git
