[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/bookmark-plus"]
	path = site-lisp/bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus.git
